<section class="container blog">
{%- include 'breadcrumb-cat.njk' -%}
{%- include 'category-intro.njk' -%}
<div class="post--bg col-three">
{%- if tag == 'biking-page' -%}
{%- for post in collections.bikingPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'technology-page' -%}
{%- for post in collections.technologyPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- endif -%}
</div>
</section>