<footer class="site-footer">
<section class="container col-three">
<div class="footer--social">
</div>
<div class="footer--menu">
<div class="sitemap">Sitemap:</div>
<ul class="menu-item">
<li><a href="/">Home</a></li>
<li><a href="/biking/">biking</a></li>
<li><a href="/technology/">technology</a></li>
<li><a href="/about/">About</a></li>
</ul>
</div>
<div class="copyright"><p class="no-top">MTB with passion © All Rights Reserved 2022</p></div>
</section>
</footer>