<header class="container--full page-header">
<div class="page-header--content">
<div class="logo">
<a href="/">MTB with passion</a>
</div>
<nav class="primary-nav">
<ul role="list" class="nav-list flex-group">
    <li role="listitem"><a href="/biking/" class="{{ 'active' if tag == "blog-page"}}">biking</a></li>
    <li role="listitem"><a href="/technology/" class="{{ 'active' if tag == "blog-page"}}">technology</a></li>
    <li role="listitem"><a href="/about/" class="{{ 'active' if tag == "about-page"}}">ABOUT</a></li>
</ul>
</nav>
</div>
</header>
